services:
  - type: web
    name: inko-shop-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        sync: false
      - key: SHOP_URL
        value: https://kartosvlad459-art.github.io/inko-shop-bot/
